<!DOCTYPE html>
<html lang="en">
<head>
    <!-- DISCLAIMER: this code is developed with reference to 
    https://codeburst.io/building-your-first-chat-application-using-flask-in-7-minutes-f98de4adfa5d -->
  <title>mentor. Public Chatroom</title>
  
</head>
<body style="background-color:#fdefe6;">
    <h1>Welcome to the mentor. Public chatroom. <br> Please be nice!</h1>
  <div class="message_holder">
  <!-- jinja2 syntax to print the messages received from the MySQL db thru chat3.py-->
  {% for msg in messages %}
    <div><b style="color: #000">{{msg.User}}:</b>  {{msg.Message}}</div>
  {% endfor %}
  </div><br>

    <!-- form for user's to input their messages-->
  <form action="" method="POST">
    <input type="text" class="username" placeholder="User Name"/>
    <input type="textbox" class="message" placeholder="Messages"/>
    <input type="submit"/>
  </form>

  <br><a href="http://localhost/project-g4t4/app/parsa/index.html"><button  id="homeBtn" class="btn btn-primary" >Return Home</button></a><br>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
  <script type="text/javascript">
    var socket = io.connect('http://127.0.0.1:5003' ); // connects to the socket service running from chat3.py
    socket.on( 'connect', function() {
      socket.emit( 'my event', { // emits a notification into the console when a user is connected
        data: 'User Connected' 
      } )
      var form = $( 'form' ).on( 'submit', function( e ) {
        e.preventDefault() // prevents the form from submitting first as it emits the messages
        let user_name = $( 'input.username' ).val()
        let user_input = $( 'input.message' ).val()
        socket.emit( 'my event', { // emits the messages entered by the user, through an event called 'my event', to the .py file 
          user_name : user_name,
          message : user_input
        } ) 
        $( 'input.message' ).val( '' ).focus() // clears the message field to enable the same user to enter more messages
      } )
    } )
    socket.on( 'my response', function( msg ) {
      console.log( msg ) // logs the msg transmitted back from the service/.py file for debugging purposes
      if( typeof msg.user_name !== 'undefined' ) {
        // $( 'h3' ).remove() // removes the "no messages yet" text
        $( 'div.message_holder' ).append( '<div><b style="color: #000">'+msg.user_name+'</b> '+msg.message+'</div>' )

      }
    })
  </script>

</body>
</html>